* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", Courier, monospace;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

body {
  font-size: 14px;
  background-color: #f4f7fa;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section > div {
  background-color: white;
  border: 1px solid #bcc8d4;
  border-radius: 10px;
  width: 400px;
  max-width: 95%;
  display: grid;
  justify-items: center;
  padding: 30px;
}

section form {
  width: 100%;
  display: grid;
  gap: 20px;
}

section h2 {
  text-align: center;
}

.input {
  border: 1px solid #97a3b4;
  border-radius: 5px;
  height: 40px;
}

section input[type="submit"] {
  cursor: pointer;
}

section #input-wrapper {
  display: grid;
  position: relative;
  gap: 5px;
}

section .confirm {
  color: green;
  visibility: hidden;
  position: absolute;
  top: 40px;
}

section .error {
  color: red;
  visibility: hidden;
  position: absolute;
  top: 40px;
}

section .active {
  visibility: visible;
}
